@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

[data-theme="light"] {
    --color-bg: #f9faf4;
    --color-fg: #0e202a;
    --main-color: #E98C36;
    --accent: #a3b079;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-fg: #f9faf4;
    --main-color: #e2a975;
    --accent: #a3b079;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}

button,
input {
    color: inherit;
    font: inherit;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
}

.big-logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    color: var(--accent);
    margin: 0 0 0 1rem;
    align-items: flex-start;
}


.top-list{
    list-style: none;
    font-family: "Cormorant", serif;
    font-weight: 700;
    color: var(--main-color);
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
}
.toggle-icon {
    max-width: 2rem;

}


.container{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg)
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
