@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Instrument+Serif:ital@0;1&display=swap');

[data-theme="light"] {
    --color-bg: #f9faf4;
    --color-fg: #0e202a;
    --main-color: #0F2167;
    --accent: #3559E0;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-fg: #f9faf4;
    --main-color: #959cba;
    --accent: #3559E0;
}

/* HEADER SECTION */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}

button,
input {
    color: inherit;
    font: inherit;
}

body{
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.big-logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    color: var(--accent);
    margin: 0 0 0 1rem;
    align-items: flex-start;
}

.big-logo:hover {
    cursor: default;
}


.top-list{
    list-style: none;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    color: var(--main-color);
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
}

.toggle-icon {
    max-width: 2rem;
    fill: var(--main-color);
}

.toggle-icon:hover {
    cursor: pointer;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    height: 10vh;
}

/* BODY SECTION */

.container{
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
